<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{item.children}">
        <f:then>
            <f:if condition="{item.current}">
                <f:then>
                    <li class="subcap {anz}  {f:if(condition:item.children, then:'navitem')} {f:if(condition:item.current, then:'cur')}" data-show-sub="false">
                      <f:format.htmlentitiesDecode><div>{item.title}</div></f:format.htmlentitiesDecode>
                </f:then> 
                <f:else if="{item.active}">
                    <li class="subcap {anz} {f:if(condition:item.children, then:'navitem')} {f:if(condition:item.current, then:'act')}" data-show-sub="false">
                       <f:format.htmlentitiesDecode><div>{item.title}</div></f:format.htmlentitiesDecode>
                </f:else>
                <f:else>
                    <li class="subcap {anz} navitem" data-show-sub="false">
                     <f:format.htmlentitiesDecode><div>{item.title}</div></f:format.htmlentitiesDecode>
                </f:else>
            </f:if>   
        </f:then>   
        
        <f:else>    
            <f:if condition="{item.current}">
                <f:then>
                    <li class="{f:if(condition:item.current, then:'navitem cur')}">
                        <f:format.htmlentitiesDecode><div>{item.title}</div></f:format.htmlentitiesDecode>
                </f:then>
                <f:else if="{item.active}">
                    <li class="{f:if(condition:item.active, then:'navitem act')}">
                        <f:format.htmlentitiesDecode><div>{item.title}</div></f:format.htmlentitiesDecode>
                </f:else>
                <f:else>
                    <li class="navitem">
                        <f:format.htmlentitiesDecode><div>{item.title}</div></f:format.htmlentitiesDecode>
                </f:else>           
            </f:if> 
        </f:else>       
    </f:if>

</html>
